{% extends 'useraccounts/base.html' %}
{% block container %}  
{% if user_saved_successfully %}
<div class="container">
    <div class="col-sm-4">
        <div class="alert alert-success"> 
            User successfully created! 
            <a href="{% url 'user_login' %}">Click here to sign in</a>
        </div>
    </div>
</div>

{% endif %}
        
<div class="container">
    <div class="col-sm-4" style="background-color: white; opacity: .9; padding: 30px;">
        <h1> Register a new user </h1>
        <form method="POST" action="{% url 'user_register' %}">{% csrf_token %}
            <div class="form-group">
                <label for="inputFirstName">First Name:</label>
                <input type="text" class="form-control" name="firstname" id="inputFirstName" placeholder="Enter First Name">
            </div>

            <div class="form-group">
                <label for="inputLastName">Last Name:</label>
                <input type="text" class="form-control" name="lastname" id="inputLastName" placeholder="Enter Last Name">
            </div>

            <div class="form-group">
                <label for="inputUsername">Username:</label>
                <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Enter Username">
            </div>

            <div class="form-group">
                <label for="inputEmail">Email Address:</label>
                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter Email">
            </div>

            <div class="form-group">
                <label for="inputPassword">Password:</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter Password">
            </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>
{% endblock %}