{% extends 'useraccounts/base.html' %}
{% block container %}
	
	<div class="container">
        <div class="well well-sm">
            <h2 class="center"> User profile </h2>
            <hr>
            <h5 class="text"> Username: {{ user.username }} </h5>
            <h5 class="text"> First name: {{ user.first_name }} </h5>
            <h5 class="text"> Last name: {{ user.last_name }} </h5>
            <h5 class="text"> Email: {{ user.email }} </h5>

            <hr>
            <a href="{% url 'frontpage' %}"><button type="button" class="btn btn-default">Go back</button></a>
        </div>
    </div>

{% endblock %}