{% extends 'theme/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <meta property="og:title" content="{{ message.created_by }}, has published a new message!" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kvittr.no" />
    <meta property="og:description" content="{{ message.message }}" />
    <meta property="og:url" content="http://kvittr.no/kvittr_messages/{{ message.id }}" />
{% endblock extra_head %}

{% block subheader %} Message details {% endblock %}
{% block pagecontent %}

    <h1 class="text-center"> Message {{ message.id }} </h1>
    <br>

	<div class="well well_center">
		<h2>Written by: {{ message.created_by }} </h2>
		<h5>Published: {{ message.created_datetime }} </h5>
        
        <br>
        <blockquote>{{ message.message }}</blockquote> 


        {% if user.is_authenticated %}
        <button type="button" class="add-likes-link btn btn-default" aria-label="Like" data-messageid="{{ message.id }}">
        	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Like </span>
                {% endif %}
                <span class="label label-success label-as-badge" id="id-likes-for-message-{{ message.id }}">{{ message.likes }}</span>
        </button>

        <hr>
        <a href="{% url 'messages' %}" class="btn btn-danger pull-right">Go back</a>
	</div>

{% endblock %}