{% extends 'theme/base.html' %}
{% block pagecontent %}
    {{ block.super }}

        {% if user.is_authenticated %}

        <div class="row" style="">
        <div class="col-sm-12">
            <h3>Write message:</h3>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-11">
                        <textarea class="form-control" rows="1" name="new_message" placeholder="What´s on your mind?"></textarea>
                    </div>

                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-success">Publish</button>
                    </div>
                </div>
            </form>

        </div>
        </div>

        {% else %}

        <h4>Log in or register to write messages.</h4>

        {% endif %}

        <div class="col-sm-12">
        <ul>
        {% for message in messages %}

            <li class="well" style="list-style:none; width: 600px; margin-left: auto; margin-right: auto;">

                <h6>Written by: {{ message.created_by }}</h6>
                <br>
                <blockquote>{{ message.message }}</blockquote> 
                <h6>Published: {{ message.created_datetime }}</h6>

                {% if user.is_authenticated %}

                <button type="button" class="add-likes-link btn btn-default" aria-label="Like" data-messageid="{{ message.id }}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Like </span>
                <span class="label label-success label-as-badge" id="id-likes-for-message-{{ message.id }}"> {{ message.likes }}</span>
                </button>

                {% else %}

                <h5>This message has {{ message.likes }} likes</h5>

                {% endif %}

                <br>
                <a href="{% url 'detailed_message' message.id %}" class="btn btn-sm btn-warning pull-right">View details about message {{ message.id }} here</a>
            </li>

        {% endfor %}
        </ul>
        </div>

        <nav>
            <ul class="pager">
                {% if messages.has_previous %}
                <li class="previous">
                    <a href="?page={{ messages.previous_page_number }}">
                        <span aria-hidden="true"> &larr; </span> Previous
                    </a>
                </li>
                {% endif %}
                <li>
                    <span class="current">
                        Page {{ messages.number }} of {{ messages.paginator.num_pages }}
                    </span>
                </li>
                {% if messages.has_next %}
                <li class="next">
                    <a href="?page={{ messages.next_page_number }}">
                        Next <span aria-hidden="true"> &rarr; </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

{% endblock %}
