{% extends 'theme/base.html' %}
{% block pagecontent %}

<div class"frontpageLogoBg" style="background-color: white; opacity: .8; padding: 20px; margin-top: 40px;">	
<div class="container">
	<div class="col-sm-4 col-sm-offset-4">
		<img class="kvittrLogo" src="/static/theme/images/kvittrLogoEM_orange.png" style="width: 100%;">

		<p style="font-size: 20px; color: red; text-align: center;">Welcome to Kvittr!</p>
		<p style="color: gray;">Please sign in or register a user to post messages on the mighty Kvittr wall!</p>
	</div>
</div>
</div>

{% endblock %}